.change-password {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 40rem;
  height: auto;
  margin: 3% auto;
  padding: 2rem;
  background-color: $new-color-primary;
  border-radius: 1rem;
  box-shadow: 0 0.4rem 0.8rem rgba(255, 255, 255, 0.2);
  color: $color-white;
  animation: fadeIn 0.5s ease-in-out;

  &__header {
    font-size: 2.4rem; // Larger font size for the header
    font-weight: bold; // Bold font weight for emphasis
    margin-bottom: 2rem; // Spacing after the header
    color: darken(
      $color-primary,
      20%
    ); // Darker shade of primary color for contrast
    text-align: center;
    animation: slideDown 0.5s ease-in-out;
  }

  &__input-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 1rem;
  }

  &__label {
    display: block;
    font-size: 1.6rem;
    margin-bottom: 0.5rem;
  }

  &__input {
    width: 100%;
    max-width: 35rem;
    padding: 0.5rem 1rem;
    border: 1px solid #ccc;
    border-radius: 5rem;
    outline: none;
    font-size: 1.6rem;
    transition: border-color 0.3s ease;

    &:focus {
      border-color: $color-primary;
      box-shadow: 0 0 0.5rem rgba($color-primary, 0.2);
      animation: pulse 1s infinite alternate;
    }
  }

  &__submit-button {
    align-items: center;
    justify-content: center;
    background-color: $color-primary;
    color: #fff;
    padding: 0.8rem 1.2rem;
    font-size: 1.4rem;
    border: none;
    border-radius: 2rem;
    margin-left: 15%;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;

    &:hover {
      background-color: darken($color-primary, 10%);
      transform: scale(1.05);
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes pulse {
  from {
    box-shadow: 0 0 0.5rem rgba($color-primary, 0.4);
  }
  to {
    box-shadow: 0 0 0.8rem rgba($color-primary, 0.6);
  }
}

// Media queries for responsiveness
@media (max-width: 768px) {
  .change-password {
    width: 90%;
    padding: 1.5rem;
  }
}

// Additional keyframes for header animation
@keyframes slideDown {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
