// ForgetPassword.scss
.ForgetPassword {
  background-color: $new-color-primary; // Sample background color
  border-radius: 2rem; // Sample border radius
  padding: 2rem; // Sample padding
  max-width: 40rem; // Sample max width
  margin-top: 5%;
  color: #fff;
  margin: 2rem auto; // Centers the component

  &__title {
    font-size: 2rem; // Sample font size
    margin-bottom: 1.5rem; // Sample bottom margin
    text-align: center; // Centers the title text
 
  }

  &__form {
    display: flex; // Sets a flex container
    flex-direction: column; // Stacks children vertically
    gap: 1rem; // Space between form elements
  }

  &__input {
    padding: 2% 5% 2%; // Padding inside input for text
    border-radius: 5rem; // Sample border radius
    padding: 0.5rem; // Sample padding
    border: none;
    outline: none;
    font-size: 1rem; // Sample font size
  }

  &__button {
    background-color: $color-primary; // Sample button color
    color: white; // Text color for the button
    padding: 0.5rem 1rem; // Sample padding
    border: none; // No border
    border-radius: 4px; // Sample border radius
    font-size: 1rem; // Sample font size
    cursor: pointer; // Changes cursor to pointer
    &:hover {
      background-color: darken($color-primary, 10%); // Darkens button on hover
    }
  }
}
