// Define colors, font sizes, and shadows
$color-primary: #6a8eae;
$color-secondary: #2a466f;
$color-white: #fff;
$color-card: #b9c9b7;
$color-registration: #9fbcc7;
$color-shadow-dark: rgba(0, 0, 0, 0.3);
$color-shadow-light: rgba(0, 0, 0, 0.06);
$font-size-list: 2rem;
$background-color-dark: #b9c9b7;
$new-color-primary: #9fbcc7;
