.UserCarChart {
  display: grid;
  grid-template-columns: repeat(3, 1fr); // Three equal columns
  grid-gap: 1rem; // Space between the charts
  justify-content: center;
  align-items: center;
  margin: 4% auto;
  max-width: 30%; // Adjust as needed
  // For smaller screens, you might want to adjust the grid layout
  @media (max-width: 768px) {
    grid-template-columns: 1fr; // One column for smaller screens
  }
}
