.UserCarChart {
  display: grid;
  grid-template-columns: repeat(3, 1fr); // Three equal columns
  grid-gap: 1rem; // Space between the charts
  justify-content: center;
  align-items: center;
  margin: 2% auto;
  max-width: 30%; // Adjusted for better layout

  .header {
    grid-column: 1 / -1; // Span the header across all columns
    color: $color-primary;
    font-size: 2.4rem;
    text-align: center;
  }

  @media (max-width: 768px) {
    grid-template-columns: 1fr; // One column for smaller screens
  }
}
